html {
  position: relative;
  min-height: 100%;
}

#footer {
  background: #222222 !important;
  color: #95a5a6 !important;
}

section {
  padding: 20px;
  text-align: center;
}

section h2 {
  font-size: 3em;
}

section p {
  font-size: 16px;
}

.photo-box {
  width: 230px;
  border-radius: 115px;
  margin: auto;
}

.odd-section {
}

.even-section {
  background: #3498db;
  color: white;
}

.even-section a {
  color: white;
}

.display {
  padding-bottom: 20px;
}

.display p {
  text-align: justify;
}

.display img {
  width: 200px;
  margin-top: 10px;
}

hr {
  border-top: 3px solid white;
  max-width: 250px;
}
